@charset "utf-8";

#wrap {
  position: relative;
}

/*메인 비주얼 영역 */

#headerArea {
  width: 2000px;
  height: 100px;
  padding: 0 300px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  background: var(--font-color-sub2);
  opacity: 0.8;
}

#headerArea nav {
  margin: 0 55px;
}

#headerArea nav ul {
  display: flex;
  gap: 65px;
}

#headerArea nav ul li {
  font-size: var(--font-size-no7);
}

#headerArea .top_menu {
  display: flex;
  margin-top: 10px;
  gap: 30px;
}

.visual {
  position: relative;
}

.visual img {
  width: 2000px;
  height: 1050px;
  position: absolute;
  top: 0;
  left: 0;
}

.visual dl dt {
  font-size: var(--font-size-no3);
  color: var(--font-color-sub2);
  font-weight: bold;
  position: absolute;
  left: 150px;
  top: 200px;
  opacity: 0;
}

.visual:hover dl dt {
  opacity: 1;
  position: absolute;
  left: 150px;
  top: 100px;
  transition: all 1s ease-out;
}

.visual dl dd {
  font-size: var(--font-size-no6);
  color: var(--font-color-sub2);
  position: absolute;
  left: 150px;
  top: 290px;
  opacity: 0;
}

.visual:hover dl dd {
  opacity: 1;
  position: absolute;
  left: 150px;
  top: 190px;
  transition: all 1.5s ease-out;
}

/* 본문 컨텐츠 영역 */
