@charset "utf-8";

/* 채용안내 */

#content .content_area {
  width: 1400px;
  margin: 0 auto;
  padding-bottom: 150px;
}

#content .company_history {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

#content .company_history::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
}

#content .company_history ul {
  display: flex;
  flex-direction: column;
  gap: 150px;
}

#content .history_2020 {
  text-align: left;
  width: 50%;
  margin-left: 50%;
}

#content .history_2010 {
  text-align: left;
  width: 50%;
  margin-right: 50%;
}

#content .history_2000 {
  text-align: left;
  width: 50%;
  margin-left: 50%;
}

#content .history_1990 {
  text-align: left;
  width: 50%;
  margin-right: 50%;
}

#content .history_1980 {
  text-align: left;
  width: 50%;
  margin-left: 50%;
}
