@charset "utf-8";

/* 브랜드 스토리 */

/* 세계속의 일레븐 버튼 공통 */
#content .seven_eleven_in_the_world .world_btn {
}

#content .content_area {
  width: 1400px;
  min-height: 800px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 150px;
  border: 1px solid blue;
}

#content .content_area ul {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  border-bottom: 3px solid var(--font-color-point2);
}

#content .content_area ul a {
  font-size: var(--font-size-no8);
  font-weight: 600;
  background: var(--font-color-sub2);
  padding: 20px;
  border-radius: 25px;
}

#content .content_area > p {
  font-size: var(--font-size-no9);
  text-align: center;
  margin: 100px 0 200px;
}

#content .content_area > p span {
  color: var(--font-color-main);
}

#content .seven_eleven_in_the_world {
  width: 2000px;
  height: 1100px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: url(../images/content1/world_map1.png);
  border: 1px solid red;
}

#content .seven_eleven_in_the_world .start_up_story_img {
  width: 300px;
  border-radius: 50%;
  position: absolute;
  top: 27%;
  left: 16%;
}

#content .seven_eleven_in_the_world .start_up_story_text1 {
  position: absolute;
  top: 34%;
  left: 37%;
  font-size: var(--font-size-no7);
  border: 1px solid red;
}

#content .seven_eleven_in_the_world .start_up_story_text2 {
  position: absolute;
  top: 45%;
  left: 37%;
  font-size: var(--font-size-no7);
  border: 1px solid red;
}

#content .seven_eleven_in_the_world .start_up_story_btn {
  position: absolute;
  bottom: 10%;
  right: 20%;
  border: 0;
  font-size: var(--font-size-no10);
  color: var(--font-color-sub2);
  background: var(--font-color-point1);
}

#content .global_expansion .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

#content .global_expansion .country_pin {
  color: var(--font-color-main);
  cursor: pointer;
  font-size: var(--font-size-no6);
  position: absolute;
  transition: all 0.3s ease;
}

#content .global_expansion .country_pin:hover {
  color: var(--font-color-point1);
  transform: scale(1.2);
}
/* 미국 */
#content .global_expansion .united_states {
  left: 8%;
  top: 54%;
}

/* 캐나다 */
#content .global_expansion .canada {
  left: 10%;
  top: 45%;
}

/* 맥시코 */
#content .global_expansion .mexico {
  left: 7%;
  top: 62%;
}

/* 덴마크 */
#content .global_expansion .denmark {
  left: 47%;
  top: 49%;
}

/* 노르웨이 */
#content .global_expansion .norway {
  left: 47%;
  top: 45%;
}

/* 스웨덴 */
#content .global_expansion .sweden {
  left: 49%;
  top: 47%;
}

/* 한국 */
#content .global_expansion .korea {
  right: 8%;
  top: 56%;
}

/* 일본 */
#content .global_expansion .japan {
  right: 4%;
  top: 56%;
}

/* 중국 */
#content .global_expansion .china {
  right: 9%;
  top: 50%;
}

/* 홍콩 */
#content .global_expansion .hong_kong {
  right: 10%;
  top: 59%;
}

/* 마카오 */
#content .global_expansion .macau {
  right: 11%;
  top: 60%;
}

/* 대만 */
#content .global_expansion .taiwan {
  right: 9%;
  top: 60%;
}

/* 필리핀 */
#content .global_expansion .philippines {
  right: 7%;
  top: 63%;
}

/* 태국 */
#content .global_expansion .thailand {
  right: 16%;
  top: 62%;
}

/* 말레이시아 */
#content .global_expansion .malaysia {
  right: 16%;
  top: 64%;
}

/* 베트남 */
#content .global_expansion .vietnam {
  right: 13%;
  top: 63%;
}

/* 싱가포르 */
#content .global_expansion .singapore {
  right: 14%;
  top: 66%;
}

/* 아랍에미리트 */
#content .global_expansion .uae {
  right: 33%;
  top: 61%;
}

/* 호주 */
#content .global_expansion .australia {
  right: 0%;
  bottom: 23%;
}

#content .global_expansion p {
  font-size: var(--font-size-no7);
  position: absolute;
  top: 43%;
  left: 5%;
  border: 1px solid red;
}
