#content .content_area {
	width: 1600px;
	margin: 0 auto;
	padding: 100px 0;
	display: flex;
	justify-content: center;
}

#content #map_search {
	width: 1000px;
	height: 800px;
	border: 1px solid red;
}
