@charset "utf-8";

#content .content_area {
	width: 1600px;
	min-height: 800px;
	position: relative;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	padding-bottom: 150px;
	margin-top: 100px;
}

#content .content_area::after {
	content: "";
	position: absolute;
	top: 400px;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	width: 4px;
	height: 3400px;
	background: rgba(1, 113, 33, 0.8);
}

.procedures_nav {
	margin-top: 200px;
}

.procedures_nav ul {
	width: 60%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	gap: 30px;
	font-size: var(--font-size-no7);
	/*30px*/
}

.procedures_nav ul li a {
	box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.1);
	padding: 5px 20px 10px;
	border-radius: 20px;
	text-align: center;
	transition: all 0.3s ease;

}

.procedures_nav ul li a:hover {
	background: rgba(217, 38, 41, 0.9);
	color: var(--font-color-sub2);
	transform: translateY(-3px);
}

.timeline_wrapper {
	display: flex;
	position: relative;
	padding: 50px 0;
}

.icon_area ul li {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 120px;
	height: 120px;
	margin: 0 auto 250px;
	border-radius: 50%;
	background-image: url(../images/content2/ico_info_circle.png);
	background-repeat: no-repeat;
	border: 3px solid rgba(217, 38, 41, 0.8);
	background-size: 100% auto;
	transition: all 0.5s ease;
	z-index: 1;
}

.icon_area ul li:nth-of-type(1) {
	top: 245px;
	background-position: 0 -3218px;
}

.icon_area ul li:nth-of-type(2) {
	top: 650px;
	background-position: 0 0;
}

.icon_area ul li:nth-of-type(3) {
	top: 1120px;
	background-position: 0 -2940px;
}

.icon_area ul li:nth-of-type(4) {
	top: 1560px;
	background-position: 0 -3760px;
}

.icon_area ul li:nth-of-type(5) {
	top: 2025px;
	background-position: 0 -494px;
}

.icon_area ul li:nth-of-type(6) {
	top: 2480px;
	background-position: 0 -2586px;
}

.icon_area ul li:nth-of-type(7) {
	top: 2840px;
	background-position: 0 -237px;
}

.icon_area ul li:nth-of-type(8) {
	top: 3270px;
	background-position: 0 -3490px;
}

.icon_area ul li:nth-of-type(9) {
	top: 3675px;
	background-position: 0 -1946px;
}

.icon_area ul li i {
	font-size: var(--font-size-no7);
	/*30px*/
	color: var(--font-color-sub2);
	transition: color 0.4s, transform 0.4s;
}



.description_area {
	width: 1400px;
	margin: 100px auto;
}

.train_order_content {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.train_order_content div {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30%;
	margin-bottom: 100px;
}

.train_order_content div h4 {
	width: 40%;
	text-align: left;
	font-size: var(--font-size-no7);
	/*30px*/
	font-weight: 700;
	margin-left: 100px;
	color: rgba(1, 113, 33, 0.8);
}

.train_order_content div p,
.train_order_content div ul {
	padding: 40px;
	width: 55%;
	border-radius: 20px;
	border: 3px solid rgba(217, 38, 41, 0.8);
	background: var(--font-color-sub2);
	box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.1);
}

.description_item {
	font-size: var(--font-size-no12);
	/*18px*/
	font-weight: 500;
	margin-bottom: 15px;
	line-height: 1.9rem;
	letter-spacing: 0.05rem;
	position: relative;
}

.train_order_content #desc2::before {
	content: "STEP 01";
	position: absolute;
	top: 0;
	left: 0;
}

.train_order_content #desc3::before {
	content: "STEP 02";
	position: absolute;
	top: 0;
	left: 0;
}

.train_order_content #desc4::before {
	content: "STEP 03";
	position: absolute;
	top: 0;
	left: 0;
}

.train_order_content #desc5::before {
	content: "STEP 04";
	position: absolute;
	top: 0;
	left: 0;
}

.train_order_content #desc6::before {
	content: "STEP 05";
	position: absolute;
	top: 0;
	left: 0;
}

.train_order_content #desc7::before {
	content: "STEP 06";
	position: absolute;
	top: 0;
	left: 0;
}

.train_order_content #desc8::before {
	content: "STEP 07";
	position: absolute;
	top: 0;
	left: 0;
}

.train_order_content #desc9::before {
	content: "STEP 08";
	position: absolute;
	top: 0;
	left: 0;
}

.train_order_content #desc10::before {
	content: "STEP 09";
	position: absolute;
	top: 0;
	left: 0;
}



.train_order_content div ul li a {
	margin-top: 20px;
	padding: 10px;
	border-radius: 25px;
	text-align: center;
	background: var(--font-color-point1);
	color: var(--font-color-sub1);
	font-size: var(--font-size-no11);
	/*20px*/
	font-weight: 500;
	transition: all 0.3s ease;
}

.train_order_content div ul li a:hover {
	background: var(--font-color-main);
	transform: translateY(3px);
	box-shadow: 0 10px 20px rgba(217, 38, 41, 0.3);
}

#desc9>div {
	position: relative;
}

#desc9 img {
	width: 430px;
	border: 3px solid rgba(217, 38, 41, 0.8);
	margin-left: 70px;
	border-radius: 25px;
	margin-top: 70px;
}

.image_caption {
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin-top: 15px;
	font-weight: 600;
	background: #fff;
	padding: 3px 10px;
	border-radius: 10px;
	border: 3px solid rgba(217, 38, 41, 0.8);
}

#content .procedures_nav.fixed {
	position: fixed;
	top: -100px;
	left: 50%;
	transform: translateX(-50%);
	width: 1800px;
	border-radius: 20px;
	background: var(--font-color-point2);
	z-index: 100;
	box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.1);
}

#content .procedures_nav.fixed a {
	color: var(--font-color-sub2);
}