@charset "utf-8";

/* 전체 영역 */
#content .content_area {
  width: 1600px;
  min-height: 800px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 150px;
}

#content .benefits_container,
#content .cooperative_container {
  width: 1000px;
  margin: 100px auto 0;
}

#content .benefits_title,
#content .cooperative_title {
  text-align: center;
  margin-bottom: 50px;
}

#content .benefits_title h3,
#content .cooperative_title h3 {
  margin-bottom: 15px;
  font-size: var(--font-size-no7); /*30px*/
  font-weight: 700;
}

#content .benefits_title p,
#content .cooperative_title p {
  font-size: var(--font-size-no13); /*16px*/
}

/* 1. 최상의 협력 시스템 */

#content .cooperative_container {
  margin-bottom: 80px;
}

#content .cooperative_content {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 40px;
  border-radius: 40px;
  background: var(--font-color-sub1);
}

#content .cooperative_content img {
  width: 45%;
  border-radius: 15px;
  object-fit: cover; /*이미지가 비율에 맞게 채워지기*/
}

#content .cooperative_content ul {
  width: 55%;
}
#content .cooperative_content ul li {
  margin-bottom: 25px;
}

#content .cooperative_content ul li:last-of-type {
  margin-bottom: 0;
}

#content .cooperative_content ul li > p {
  font-size: var(--font-size-no10); /*22px*/
  font-weight: 700;
  color: var(--font-color-main);
  margin-bottom: 20px;
}

#content .cooperative_content dl {
  margin-bottom: 10px;
}

#content .cooperative_content dt {
  margin-bottom: 5px;
  font-weight: 600;
}

#content .cooperative_content dd {
  padding-left: 20px;
}

/* 차별화된 혜택 */

#content .benefits_container ul {
  display: grid;
  grid-template-columns: 1fr 1fr; /*2열 그리드*/
  gap: 30px;
}

#content .benefits_container ul li {
  background: var(--font-color-sub2);
  border: 1px solid var(--font-color-sub2);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

#content .benefits_container ul li:hover {
  transform: translateY(-5px);
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.15);
}

.benefits_container ul li > p {
  font-size: var(--font-size-no9); /*24px*/
}

#content .benefits_container dl {
  margin-bottom: 15px;
}

#content .benefits_container dl:last-of-type {
  margin-bottom: 0;
}

#content .benefits_container dt {
  font-weight: 600;
  color: var(--font-color-main);
  margin-bottom: 10px;
}

#content .benefits_container dd {
  line-height: 2rem;
}
