@charset "utf-8";

/* Fresh Food */

#content .content_area {
  width: 1400px;
  min-height: 1000px;
  margin: 100px auto 0;
  position: relative;
}

#content .food_search {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 50px 0 20px 50px;
}

#content .food_search input {
  width: 800px;
  height: 50px;
  border: 1px solid transparent;
  font-size: var(--font-size-no11);
  border-bottom: 3px solid var(--font-color-point2);
  outline: none;
}

#content .food_search button {
  width: 150px;
  height: 50px;
  margin-top: 7px;
  outline: none;
  border: 1px solid transparent;
  font-size: var(--font-size-no10);
  color: var(--font-color-sub2);
  background: rgba(1, 113, 33, 0.8);
  font-weight: 400;
  border-radius: 10px;
  transition: all 0.5s ease-out;
}

#content .food_search button:hover {
  background: rgba(231, 126, 45, 0.8);
  font-size: var(--font-size-no9);
  transform: scale(1.05);
}

#content .fresh_food_inquiry {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: var(--font-size-no11);
}

#content .fresh_food_inquiry strong {
  padding: 10px 20px 10px 0;
  font-size: var(--font-size-no9);
  border-right: 3px solid var(--font-color-point2);
}

#content .fresh_food_inquiry ul {
  display: flex;
  padding: 10px;
  gap: 10px;
}

#content .food_inquiry_btn {
  width: 120px;
  text-align: center;
  padding: 5px;
  border-radius: 20px 20px 5px 20px;

  cursor: pointer;
  transition: all 0.5s ease-out;
}

#content .food_inquiry_btn.food_inquiry_btn:hover {
  color: var(--font-color-sub2);
  background: var(--font-color-point1);
  transform: scale(1.03) translateY(-5px);
}

#content #food_sorting {
  width: 150px;
  font-size: var(--font-size-no12);
  font-weight: 400;
  margin: 10px 15px;
  padding: 7px;
  border-radius: 8px;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
